

@media all and(min-width: 768px) and (max-width: 1100px){
}


header {
    display: flex;
    align-items: center;
  justify-content: center;
    height: 150px; 
    background: url(https://img.freepik.com/premium-photo/abstract-metallic-number-background_36845-85.jpg?size=626&ext=jpg&ga=GA1.2.1685140811.1657465697) bottom no-repeat;
    background-size: cover; 
}

  .container {
    display:flexbox;
    width: 100%;
    height: auto;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}

   .btn-link {
    font-weight: 400;
    color: blue;
    margin-left: 15px;
    min-width: 25%;
}

  button, input {
    margin: 15px;
}

  input {
    text-align: center;
    min-width: 25%;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
}

body {
    margin: 0 auto;
    padding: 0 !important;
    box-sizing: border-box;
    font-size: 1rem;
    max-width: 1920px;
    min-width: 320px;
    height: 100%;
}

.game-card {
    height: 50vh;
    font-family: 'Open Sans', monospace;
    justify-content: center;
}


#OK, #textres {
    font-size: x-large;
    background-color:aqua;
}

#Start {
    font-size: x-large;
    background-color:greenyellow;
}


#OK, #Start {
    display: block;
  border-block:revert;
  border-radius: 100%;
  text-align: center;
}

.container-collapse,.container-OkStart {
    display: flex;
    justify-content: center;

}

.card-body {
    display: flex;
    position: relative;
    justify-content: centr;
}

.col-md-6 {
    margin-left: 0px;
}


#btnRetry {
    font-size: xx-large;
    color: crimson;
}

.form-group {
    margin-right: 36px;
}